.address-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    text-align: left;
    margin: 2rem 0;
    padding: 2rem;
}

.address-container input {
    border: 1px solid #adadad;
    border-radius: 8px;
    font-size: 14px;
    height: 35px;
    padding: 10px
}