.basic-info-container h2{ 
    color: rgb(153,169,68);
    margin-bottom: 2rem;
    font-size: 3rem;
}

.basic-info-item{
    display: flex;
    flex-direction: column;
    text-align: left; 
    gap: 1rem; 
}

.basic-info-container input {
    border: 1px solid #adadad;
    border-radius: 8px;
    font-size: 14px;
    height: 46px;
    padding: 10px;
    border: 1px solid rgb(153,169,68)
}


